@keyframes borderAnimation {
  0% {
    border-color: salmon;
  }
  50% {
    border-color: aquamarine;
  }
  100% {
    border-color: royalblue;
  }
}

@keyframes sponAnimation {
  0% {
    width: 200px;
  }
  100% {
    width: 400px;
    transform: rotate(180deg);
  }
}

@keyframes ddungAnimation {
  0% {
    width: 200px;
  }
  100% {
    width: 400px;
    transform: skew(0, -20deg);
  }
}

.char_img {
  width: 200px;
  border: 10px aquamarine solid;
  margin-top: 100px;
  margin-left: 100px;
  animation: borderAnimation 5s infinite;
}

#spon_img:active {
  animation: sponAnimation 2s;
}

#ddung_img:hover {
  animation: ddungAnimation 2s;
}
